.dinert-table.ant-table-wrapper{
    .ant-table-title{
        padding-left: 0;
        padding-right: 0;
    }

    .ant-table-cell{
        &.operations{
            .ant-space button{
                padding: 0;

                &.more{
                gap: 4px;
                }
            }
        }
    }
}